body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
}
.main-content{
    flex: 0 1 75%;
    text-align: center;
}
.sidebar{
    flex: 0 1 25%;
    background: #808080;
   text-align: center;
}

#editor-panel {
    flex: 1;
}

    #editor-panel h2 {
        margin-top: 0;
    }

#editor {
    width: 800px;
    height: 600px;
    border-radius: 8px;
    border: 2px dashed #555;
    position: relative;
    background: #808080;
    overflow: hidden;
}

.block {
    width: 100px;
    height: 100px;
    background: #444;
    position: absolute;
}

.elem-block {
    background: #444;
}

.elem-catapult {
    background: #8B4513;
    border-radius: 5px;
}

.elem-enemy {
    background: #2E8B57;
    border-radius: 50%;
}

.elem-bird {
    background: #CC0000;
    border-radius: 50%;
}

.elem-goal {
    background: #FFD700;
    border: 2px solid #000;
}